header {
    width: 1000px;
    background-color: #fcc;
}
#wrapper {
    width: 1000px;
    display: flex;
}
#main {
    width: 700px;
    background-color: #cfc;
}
#menu {
    width: 300px;
    background-color: #ccf;
}
footer {
    width: 1000px;
    background-color: #fcf;
}